*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url("/Amazon-logo.jpg");
    background-size: cover; 
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}

/*box2*/

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* SEARCH  BAR */
.navSearch:hover {
    border: 2px solid orange;
}

.navSearch{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    color: #0f1111;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
/* Acoount and sign in */
span{
    font-size: 0.7rem;
}
.nav-Account{
    font-size: 0.85rem;
    font-weight: 700;
}
/* Returns and orders */
.nav-orders {
    font-size: 0.85rem;
    font-weight: 700;
}
/* Cart */

.nav-cart i {
    font-size: 30px
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display: inline;
    margin-left: 14px;
   
}
.panel-opt{
    width: 70%;
    font-size: 0.85rem;
   
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* HERO SECTION OF THE WEBSITE  */

.hero-section{
    background-image: url("/hero-sec-img.jpg");
    background-size: cover;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: #f5f6f6;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    width: 95.5%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}

/* ITEM SECTION STARTS FROM HERE */
.item-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 300px;
    width: 23%;
    background-color: #FFFFFF;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    color: #0f1111;
}
.box-content p{
    color: #007185;
    font-size: 0.85rem;
}

/* FOOTER */

footer{
    margin-top: 15px;
}
.first-foot{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.sec-foot{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}
ul{
    margin-top: 15px;
}
.sec-foot a{
    color: #dddddd;
    font-size: 0.85rem;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}
.sec-foot p{
    font-weight: 700;
    margin-bottom: 15px;
}

/* third footer */
.third-foot{
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.2px solid #dad4d4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;

    

}
.t-logo{
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* fourth foot style */
.fourth-foot{
    background-color: #0f1111;
    color: #dddddd;
    height: 70px;
    text-align: center;
    padding-top: 15px;
}
.fourth-foot a {
    color: #dddddd;
    text-decoration: none;
}
.last-line{
    font-size: 0.7rem;
}
.copyright{
    padding-top: 6px;
    font-size: 0.85rem;
}